@import url("font/vazir.css");

/*Global Styling*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: 'primary-font', 'segoe ui', tahoma;
	font-size: 0.875rem;
	background-color: #FFFFFF;
	color: #252525;
	position: relative;
	direction: rtl;
	box-sizing: border-box;
	overflow-x: hidden !important;
}

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a,
a:hover,
a:focus {
	outline: none;
	text-decoration: none;
	color: inherit;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: 1.75;
	font-weight: bold;
}

h1,
.h1 {
	font-size: 4.063em;
}

h2,
.h2 {
	font-size: 3rem;
}

h3,
.h3 {
	font-size: 1.5rem;
}

h4,
.h4 {
	font-size: 1.25rem;
}

h5,
.h5 {
	font-size: 1.125rem;
}

h6,
.h6 {
	font-size: 1rem;
}

p {
	font-size: 0.9375rem;
	font-weight: 300;
	line-height: 2;
}

p.title {
	font-size: 1rem;
}

.container {
	width: 1100px;
	max-width: 100%;
}

.container,
.container-fluid {
	padding-right: 10px;
	padding-left: 10px;
}

/* Helper Classes & Shorcodes */

.padding {
	padding: 7.5rem 0;
}

.padding_top {
	padding-top: 7.5rem;
}

.padding_bottom {
	padding-bottom: 7.5rem;
}

.padding_half {
	padding: 3.75rem 0;
}

.padding_bottom_half {
	padding-bottom: 3.75rem;
}

.padding_top_half {
	padding-top: 3.75rem;
}

.margin_bottom {
	margin-bottom: 7.5rem;
}

.margin_top {
	margin-top: 7.5rem;
}

.heading_space {
	margin-bottom: 3.75rem;
}

.bottom5 {
	margin-bottom: 5px;
}

.bottom10 {
	margin-bottom: 10px;
}

.top10 {
	margin-top: 10px;
}

.bottom15 {
	margin-bottom: 15px;
}

.top15 {
	margin-top: 15px;
}

.top20 {
	margin-top: 20px;
}

.bottom20 {
	margin-bottom: 20px;
}

.bottom25 {
	margin-bottom: 25px;
}

.top25 {
	margin-top: 25px;
}

.bottom30 {
	margin-bottom: 30px;
}

.top30 {
	margin-top: 30px;
}

.bottom35 {
	margin-bottom: 35px;
}

.top40 {
	margin-top: 40px;
}

.bottom40 {
	margin-bottom: 40px;
}

.top50 {
	margin-top: 50px;
}

.bottom50 {
	margin-bottom: 50px;
}

.top60 {
	margin-top: 60px;
}

.bottom60 {
	margin-bottom: 60px;
}

.top80 {
	margin-top: 80px;
}

.bottom80 {
	margin-bottom: 80px;
}

.bottom45 {
	margin-bottom: 45px;
}

.bottom0 {
	margin-bottom: 0;
}

.top150 {
	margin-top: 150px;
}

.bottom150 {
	margin-bottom: 150px;
}

.nomargin {
	margin: 0;
}

.bglight {
	background: #f5f5f5;
}

.bgdark {
	background: red !important;
}

.bgdefault {
	background: #515A5F;
}

.whitecolor {
	color: #ffffff;
}

.darkcolor {
	color: #515A5F;
}

.colorblack {
	color: #232323;
}

.content-container {
	min-height: 47vh;
}

.content-wrapper {
	margin: 3rem 0 1rem;
	padding: 1rem;
}

.content-wrapper h4 {
	padding: 0.5rem 0;
	margin-bottom: 1rem;
	border-bottom: 1px solid rgb(219, 219, 219);
}

.content-items {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 2rem 0;
}

.content-item > a {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background-color: #f8f8f8;
	border-radius: 10px;
	min-width: 200px;
	transition: all 0.4s;
}

.content-item > a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content-item i {
	font-size: 4rem;
	margin-bottom: 1rem;
	color: rgb(22, 54, 114);
}

.content-item span {
	font-size: 1.1rem;
	font-weight: 500;
}

#accordion .card {
    background-color: #fff !important;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    position: relative;
    z-index: 3;
    border-radius: 3px;
    transition: all 0.4s;
    height: auto;
	margin: 5px 0;
	padding: .5rem 2rem 1rem;
}

#accordion button {
	outline: none;
	position: relative;
}

#accordion button::after {
	content: ' + ' ;
	position: absolute;
	right: -2%;
	top: 23%;
}

#accordion .btn-link {
	transition: all 0.4s;
}

#accordion .btn-link:focus, #accordion .btn-link:hover {
    color: #23527c;
    text-decoration: none !important;
}

#accordion .card-header {
	padding-top: 0.5rem;
}

.collapse .card-body {
	background-color: #fff !important;
	border-top: 1px solid rgb(235, 235, 235);
}

#accordion p {
	font-size: .8rem;
	margin-top: 1rem;
}

#accordion ul li {
	font-size: .8rem;
	margin-bottom: 1rem;
	font-weight: bold;
}


/* header */

.header {
	height: 90vh;
	text-align: center;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-image {
	height: auto;
	padding: 4rem;
}

.header img {
	height: 100%;
	width: 100%;
}

.header-content {
  padding-top: 15%;
}

.header-content h4 {
	font-size: 2rem;
	text-align: right;
}

.header-content p {
	font-size: 1.2rem;
	text-align: right;
	margin-top: 1rem;
}


.menu {
	z-index: 2;
	position: relative;
	width: 100%;
}

.sidebar-header {
	display: none;
}

nav {
	width: 80%;
	margin: auto;
	background-color: transparent;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
	padding: 1rem;
	border-bottom: 1px solid #685F5A;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 0 20px;
}

nav li a {
	color: #000;
	position: relative;
	font-size: 0.9rem;
}

nav li a:hover {
	color: #111;
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.s-dropdown-menu p {
	text-align: center;
	font-size: .7rem;
	font-weight: bold;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: .3rem 0;
}

.s-dropdown .shop {
	margin-left: 10px;
	color: darkblue;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #000;
}

.s-dropdown-menu {
	background-color: #fff;
	padding: 0;
	display: none !important;
}

.s-dropdown-menu.open {
	display: block !important;
    position: absolute;
    width: 280px;
    height: auto;
    background: #fff;
    top: 80%;
    left: 17%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown-item {
	display: block;
	width: 100%;
	border-bottom: 1px solid #f5f5f5;
	transition: all 0.4s;
}

.dropdown-item:hover {
	background-color: #f1f1f1;
}

.shop-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 0;
}

.shop-item-info {
	display: flex;
	align-items: center;
}

.shop-item img {
	width: 50px;
	height: auto;
	margin: 0 10px;
}

.shop-item h1 {
	font-size: .7rem;
	text-align: right; 
}

.shop-item span {
	font-size: .6rem;
	text-align: right;
	color: #999;
}

.shop-item-delete {
	text-align: left;
	color: rgb(0, 0, 0);
	font-size: 1.8rem;
	font-weight: bold;
	padding-left: 20px;
	cursor: pointer;
}

.shop-header {
	background-color: rgb(31, 106, 141);
	padding: .5rem;
	font-size: .7rem;
	text-align: center;
	transition: all 0.4s;
	color: #fff;
}

.shop-header:hover {
	background-color: rgb(47, 149, 197);
}

/* .logo-container img {
	width: 100%;
	height: 100%;
} */

.active_link {
	font-weight: bold;
	color: #000;
}


.content {
	color: #E1E1E1;
}

.content h1 {
  font-size: 2.5rem;
  margin-top: 7%;
  line-height: 1.5;
  font-weight: 100;
}

.content h6 {
  font-size: 1.1rem;
  margin-top: 2.5%;
	font-weight: 100 !important;
}

.content p {
  font-size: 0.9rem;
  margin-top: 3.5%;
	font-size: 100 !important;
}


/* products */

.products {
	padding: 1rem;
}

.products-row:nth-of-type(3) {
	margin-top: 2%;
}

.products h3 {
	margin-bottom: 1.5%;
	color: #3E3E3E;
	font-weight: 100;
}

.behind-picture {
	background-color: transparent;
	height: auto;
	padding: 0.4rem;
	border-radius: 6px;
	z-index: 1;
	overflow: visible;
	transition: all 0.4s;
}

.card {
	background-color: #fff !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 3;
	border-radius: 3px;
	transition: all 0.4s;
	height: auto;
}

.card-container:hover .behind-picture {
	background-color: #3161aac7 !important;
}

.card-container:hover .card {
	box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
}

.card-title {
	padding: 1rem 0 0.7rem 0;
	color: #242424;
}

.card-text {
	padding: 1rem 1.2rem 3.5rem 1.2rem;
	font-size: 14px;
}

.card-image {
  transition: all 0.4s;
  width: 80%;
  margin: auto;
  padding-top: 1rem;
}

.card-image img {
	width: 100%;
	height: 100%;
}

.card-footer {
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	padding-top: 10px;
}

.prices {
	display: flex;
	align-items: center;
	justify-content: center;
}

.old-price {
	font-size: 11px;
	margin-left: 5px;
	text-decoration: line-through;
}

.on {
	color: green;
}

.off {
	color: red;
}

/* first-footer */

.first-footer {
	padding: 0rem;
}

.footer-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem;
}

.first-footer h4 {
	color: #443631;
	font-weight: 100;
	margin-bottom: 1rem;
}

.first-footer p {
	line-height: 1.8;
	color: #6D6460;
}

.first-footer li {
	margin: 10px 0;
}

/* footer */

footer {
	background-color: #B8B2A6;
	padding: 0.5rem 0;
	box-sizing: border-box;
	overflow: hidden;
}

.copyright {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.copyright span {
  font-size: 13px;
}

.copyright a {
	font-weight: bold;
}





@media (max-width: 760px) {
	html {
		overflow-x: hidden;
		width: 99%;
		margin: auto;
	}

	body {
		overflow-x: hidden !important;
		box-sizing: border-box;
		width: 100%;
	}

	.logo-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.logo-container div {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	nav {
		width: 90%;
		margin: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		z-index: 2;
		padding: 0.8rem 0.5rem;
	}

	.menu > nav > ul  {
		width: 80vw;
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0px;
		background: linear-gradient(180deg, rgba(26,26,26,1) 0%, rgba(26,26,26,1) 90%, rgba(26,26,26,0.99) 100%);
		transform: translateX(100%);
		z-index: 90;
		transition: all 0.4s;
	}

	.show-menu {
		transform: translateX(0) !important;
	}

	.menu > nav > ul h6 {
		text-align: right;
		color: #fff;
	}

	nav ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding-top: 2rem;
	}

	nav li {
		margin: 15px;
		text-align: right;
		padding-right: 8px;
	}

	nav li a {
		color: #ebebeb;
		position: relative;
	}

	nav li a:hover {
		color: #fff;
	}

	.hamburger-menu {
		width: 22px;
		height: 16px;
		cursor: pointer;
		position: relative;
		display: flex;
		flex-direction: column !important;
		align-items: center;
		justify-content: space-between;
	}

	.hamburger-menu > div {
		width: 100%;
		height: 3px;
		background-color: #000;
		border-radius: 1px;
	}

	.s-dropdown-menu {
		display: none !important;
	}
	
	.s-dropdown-menu.open {
		display: block !important;
		position: absolute;
		width: 250px;
		height: auto;
		background: #fff;
		top: 100%;
		left: 12%;
		border: 1px solid rgba(0, 0, 0, 0.2);
	}

	.dropdown-item {
		display: block;
		width: 100%;
		border-bottom: 1px solid #f5f5f5;
		transition: all 0.4s;
	}

	.shop-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5rem 0;
	}
	
	.shop-item-info {
		display: flex;
		align-items: center;
	}

	.shop-item-info div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	
	.shop-item img {
		width: 50px;
		height: auto;
		margin: 0 10px;
	}
	
	.shop-item h1 {
		font-size: .7rem;
		text-align: right; 
	}
	
	.shop-item span {
		font-size: .6rem;
		text-align: right;
		color: #999;
	}
	
	.shop-item-delete {
		text-align: left;
		color: rgb(0, 0, 0);
		font-size: 1.3rem;
		font-weight: bold;
		padding-left: 20px;
		cursor: pointer;
	}
	
	.shop-header {
		background-color: rgb(31, 106, 141);
		padding: .5rem;
		font-size: .7rem;
		text-align: center;
		transition: all 0.4s;
		color: #fff;
	}
	
	.shop-header:hover {
		background-color: rgb(47, 149, 197);
	}


	.sidebar-header {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px 20px;
		color: #fff;
		border-bottom: 1px solid #999;
		margin-bottom: 1rem;
	}

	.closebtn {
		width: 25px;
		height: 19px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.closebtn > div:first-of-type {
		width: 100%;
		height: 3px;
		background-color: #d4d4d4;
		transform-origin: top right;
		transform: rotate(-43deg);
	}

	.closebtn > div:last-of-type {
		width: 100%;
		height: 3px;
		background-color: #d4d4d4;
		transform-origin: bottom right;
		transform: rotate(45deg);
	}
	
	.shop {
		margin-left: 10px;
		color: darkblue;
		border-bottom: 1px solid #000;
	}

	.header {
		overflow: hidden;
	}

	.header-content h4 {
	  font-size: 1.3rem;
	  margin-top: 5vh;
	  margin-bottom: 2vh;
	  font-weight: 500 !important;
	}

	.header-content p {
	  font-size: 0.8rem;
	  margin-top: 2%;
		font-size: 100;
	}

	.header-image {
		width: 100%;
		margin: auto;
	}

	.products {
		overflow: hidden;
		padding: 1rem 0;
	}

	.products h3 {
		font-size: 17px;
		margin-bottom: 4%;
		font-weight: bold;
	}

	.behind-picture {
		background-color: #fff;
		height: auto;
		padding: 0.4rem;
		border-radius: 3px;
		z-index: 1;
		overflow: visible;
		transition: all 0.4s;
		width: 90%;
		margin: auto;
		margin-bottom: 20px;
	}

	.card {
		background-color: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
		position: relative;
		z-index: 1;
		border-radius: 3px;
		transition: all 0.4s;
		height: auto;
	}

	.card-title {
		padding: 0.8rem 0 0.8rem 0;
		font-size: 12px;
		font-weight: 100;
		color: #272727;
	}

	.card-footer .old-price {
		font-size: 10px;
	}

	.card-footer .price {
		font-size: 13px;
	}

	.card-footer .on , 	.card-footer .off {
		font-size: 11px;
	}

	.card-text {
		padding: 0rem 1.2rem 3rem 1.2rem;
		font-size: 11px;
	}

	.behind-card-image {
		background: transparent;
		border-bottom: 1px solid #544423;
		border-left: 1px solid #544423;
		border-right: 1px solid #544423;
		width: 66px;
		height: 65px;
		border-radius: 50%;
		z-index: 0;
		padding: 0.5rem;
	}

	.card-image {
		transition: all 0.4s;
	}

	.projects {
		padding: 0rem;
		margin-top: 0;
		overflow: hidden;
	}

	.projects h3 {
		margin-bottom: 5%;
		font-size: 17px;
	}

	.project {
		height: 260px;
		width: 90%;
		margin: auto;
	}

	footer {
		background-color: #B8B2A6;
		padding: 1rem 0px;
		box-sizing: border-box;
		overflow-x: hidden;
	}

	.footer-item {
		border-bottom: 1px solid #999;
		margin-bottom: 1rem;
	}

	.first-footer .footer_logo {
		padding: 1rem 0;
	}

	.copyright {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.copyright a {
		width: 16%;
		margin-right: 1%;
	  }
  
	  .copyright span {
		  font-size: 11px;
		  width: 100%;
		  text-align: center;
	  }


}




/* product-page */

.product-info {
	min-height: 90vh;
	padding-top: 5rem;
}

.product-image img {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.product-content {
	padding-right: 2rem;
	position: relative;
	padding-bottom: 4rem;
}

.product-content h2 {
	font-size: 1.8rem;
	margin-bottom: 2rem;
}

.product-item {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.product-item h6 , .select-box h6 {
	font-weight: 100;
	font-size: .9rem;
}

.select-box {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.select-box select {
	min-width: 120px;
	border: none;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	padding: 0.1rem 0.5rem;
	outline: none;
}

.product-content h6 {
	margin-left: 1rem;
	min-width: 100px;
}

.product-content a {
	background-color: seagreen;
	width: 240px !important;
	position: absolute;
	bottom: 0px;
	right: 4%;
	padding: 0.5rem 0;
	text-align: center;
	border-radius: 3px;
	color: #fff;
	transition: all 0.4s;
}

.tab-pane {
	padding-top: 2rem;
}

.product-exp {
	padding: 1rem;
	position: relative;
	margin-bottom: 1rem;
}

.tab-pane li {
	margin: 1rem 0;
	position: relative;
	padding-right: 20px;
	font-weight: bold;
}

.tab-pane li::after {
	content: ' ⚫️ ';
	position: absolute;
	right: 0;
	top: 20%;
	font-size: .7rem;
}

.comments {
	padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.prev-comments {
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding-bottom: 1rem;
}

.new-comment {
	padding-top: 1rem;
	padding-bottom: 3rem;
	position: relative;
}

.new-comment h6 {
	margin-bottom: 2rem;
}

.new-comment label {
	font-weight: 100;
}

.new-comment a {
	position: absolute;
	bottom: 10px;
	right: 1%;
	color: #fff;
	width: 20%;
	padding: 0.35rem 0;
	text-align: center;
	font-weight: 100;
	transition: all 0.4s;
}

.comment-container {
	background-color: #f5f5f5;
	padding: 1rem;
	border: 1px solid #999;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 1rem;
}

.comment-container img {
	width: 100px;
	height: auto;
}

.comment-header {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.comment-header h6 {
	line-height: 1 !important;
	margin: 5px 0;
	color: #333;
}

.comment-header span {
	font-size: 0.7rem;
	color: #777;
}

.comment-content {
	padding-top: 0.5rem;
}

.comment-content p {
	color: #222;
	font-size: 0.9rem;
	text-align: right;
}

@media (max-width: 770px) {
	.product-info {
		min-height: 100vh;
		padding-top: 2rem;
		overflow: hidden;
	}
	
	.product-content {
		padding-right: 1rem;
		padding-bottom: 4rem;
	}
	
	.product-content h2 {
		font-size: 1.1rem;
		margin-bottom: 1rem;
		text-align: center;
		margin-top: 1.5rem;
	}
	
	.product-item {
		margin-bottom: 1rem;
	}
	
	.select-box {
		margin-bottom: 1rem;
	}

	.select-res {
		position: relative;
		padding-bottom: 1.5rem;
	}

	.select-res small {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	
	.product-content h6 {
		margin-left: 1rem;
		min-width: 90px;
	}
	
	.product-content a {
		width: 90% !important;
		bottom: 15px;
		right: 5%;
	}

	.tab-pane {
		padding-top: 2rem;
	}

	.product-exp .nav-link {
		font-size: .73rem;
		padding: 5px 5px !important;
	}

	.product-exp .nav-link .badge {
		font-size: .7rem;
	}

	.product-exp {
		padding: 1rem 0;
		margin-bottom: 1rem;
		margin-top: 2rem;
	}

	.product-exp p {
		font-size: .75rem;
	}
	
	.tab-pane li {
		margin: 0.8rem 0;
		font-size: .8rem;
	}

	.tab-pane li::after {
		content: ' ⚫️ ';
		position: absolute;
		right: 0;
		top: 8%;
		font-size: .5rem;
	}

	.table td, .table th {
		font-size: .75rem !important;
		font-weight: 100;
	}
	
	.comments {
		padding-top: 1rem;
		display: flex;
		flex-direction: column;
	}
	
	.comment-container {
		padding: 1rem 0.5rem;
		flex-direction: column;
		margin-bottom: 1rem;
	}
	
	.comment-container img {
		width: 100px;
		height: auto;
	}
	
	.comment-header {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	.comment-content {
		padding-top: 1rem 0.5rem;
	}
	
	.comment-content p {
		font-size: 0.75rem;
		margin-top: 0.5rem;
	}

	.new-comment a {
		right: 5%;
		width: 90%;
		padding: 0.4rem 0;
	}
}

/* contact-us page */

@media (max-width: 760px) {
	.content-items {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.content-item > a {
		margin: 1rem 0;
	}

	#accordion .card {
		padding: .5rem 1rem 1rem;
	}

	#accordion .btn-link:focus, #accordion .btn-link:hover {
		max-width: 100% !important;
		white-space: inherit !important;
		text-align: right !important;
	}
}


/* shop page */

.basket-item {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 0;
	padding: .5rem;
}

.basket-item img {
	width: 20%;
}

.basket-item-info {
	text-align: right;
}

.basket-item-info div, .basket-item-info h6 {
	margin: 5px 0;
}

.basket-item-delete {
	font-size: 3rem;
	text-align: left;
	color: red;
}

#plus, #minus {
	background-color: transparent;
	border: 1px solid #e6e6e6;
	padding: .3rem .5rem;
	border-radius: 3px;
	transition: all .4s;
	display: flex;
    align-items: center;
    justify-content: center;
}

#plus:hover, #minus:hover {
	box-shadow: 0 0 8px rgb(0 0 0 / 10%);
}

.basket-item-color {
	position: relative;
	padding-right: 1.2rem;
}

.basket-item-color::after {
	content: '';
	position: absolute;
	top: 20%;
	right: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #000;
}

.shop-item-numbers {
	display: flex;
	align-items: center;
}

.select-shop-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.shop-item-numbers i {
	font-weight: 100 !important;
	color: #999;
	cursor: pointer;
}

.shop-item-numbers span {
	margin: 0 .5rem;
	font-size: 1.1rem;
}

#s_number {
	width: 40px;
	text-align: center;
	margin: 0 5px;
}


.s_basket {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 1rem;
	box-sizing: border-box;
	margin-top: 1rem;
	padding-bottom: 4rem;
	position: relative;
}

.final--items {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: .5rem;
	margin-bottom: 1rem;
}

#basket_badge {
	margin-right: .5rem;
	background-color: #23527c;
}

.final-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.final-item {
	min-height: 60px;
	border-bottom: 1px solid #f1f1f1;
}

.final-price span {
	font-weight: bold;
}

.s_basket a {
	position: absolute;
	bottom: 15px;
	left: 5%;
	width: 90%;
	margin: auto;
	background-color: #207547;
	color: #fff;
	text-align: center;
	padding: .5rem 0;
	transition: all .4s;
}

.s_basket a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 770px) {
	.basket-item {
		flex-direction: column;
		padding: 0rem;
		width: 90%;
		margin: 1rem auto;
	}
	
	.basket-item img {
		width: 100%;
		margin-bottom: .5rem;
		padding: 0;
	}
	
	.basket-item-info {
		text-align: right;
		width: 100%;
	}
	
	.basket-item-info div, .basket-item-info h6 {
		margin: 8px 0;
	}

	.select-shop-item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		text-align: right;
		width: 100%;
		margin-top: 10px;
	}
	
	.select-shop-item {
		flex-direction: row;
		justify-content: space-between;
	}
	
	.shop-item-numbers span {
		margin: 0 .2rem;
		font-size: 1.1rem;
	}
	
	#s_number {
		width: 40px;
		text-align: center;
		margin: 0 0px;
	}

	.sh-delete {
		margin-top: 1rem;
	}
	
	
	.s_basket {
		width: 90%;
		margin: 2rem auto 0;
	}
	
	.final--items {
		display: flex;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid #e4e4e4;
		padding-bottom: .5rem;
		margin-bottom: 1rem;
	}
	
	#basket_badge {
		margin-right: .5rem;
		background-color: #23527c;
	}
	
	.final-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	.final-item {
		min-height: 60px;
		border-bottom: 1px solid #f1f1f1;
	}
	
	.final-price span {
		font-weight: bold;
	}
	
	.s_basket a {
		position: absolute;
		bottom: 15px;
		left: 5%;
		width: 90%;
		margin: auto;
		background-color: #207547;
		color: #fff;
		text-align: center;
		padding: .5rem 0;
		transition: all .4s;
	}
	
	.s_basket a:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
}


















